node_modules/
.vscode/
test/
.nyc_output/
.gitignore
.eslintignore
.eslintrc
package-lock.json
bower.json
forEachAF.js
reduceAF.js
mapAF2.js
mapAF3.js
test.js
scratchPad.js
notes.txt
logAFOptions/
webpack.config.js
webpack.parts.js
packageList.js
