{
  "description": "istanbul/nyc configuration; set 'per-file': true to see Errors for each file",
  "check-coverage": true,
  "per-file": false,
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "reporter": [
    "text",
    "lcov"
  ],
  "cache": true,
  "include": [
    "./lib**"
  ],
  "exclude": [
    "./lib/methods/internal**"
  ]
}
